@font-face {
    font-family: 'cascadia-mono';
    src: url(../fonts/CascadiaMono-Regular.otf)
}

* {
    font-family: 'cascadia-mono';
    size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    color: white;
}

/* Header-menu bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.headertitle h1 {
    font-size: 2rem;
    color: white;
}

.headerbuttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.headerbuttons a {
    text-decoration: none;
    color: white;
}

.headerbuttons p {
    color: white;
}

.homebutton:hover {
    color: #76cdfa;
}

.profilebutton:hover {
    color: #c08c63;
}

.blogbutton:hover {
    color: #bbcda1;
}

.dashboardbutton:hover {
    color: #3479d1;
}

.faqbutton:hover {
    color: #b889b2;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

main details {
    background-color: #212121;
    padding: 1rem;
}

main details[open] summary {
    margin-bottom: 1rem;
}
