@font-face {
    font-family: 'cascadia-mono';
    src: url(../fonts/CascadiaMono-Regular.otf)
}

* {
    color: white;
    font-family: 'cascadia-mono';
    size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
}

/* Header-menu bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.headertitle h1 {
    font-size: 2rem;
    color: white;
}

.headerbuttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.headerbuttons a {
    text-decoration: none;
    color: white;
}

.headerbuttons p {
    color: white;
}

.homebutton:hover {
    color: #76cdfa;
}

.profilebutton:hover {
    color: #c08c63;
}

.blogbutton:hover {
    color: #bbcda1;
}

.dashboardbutton:hover {
    color: #3479d1;
}

.faqbutton:hover {
    color: #b889b2;
}

/* Main content */
main{
    display: flex;
    justify-content: center;
    
}


.myprofile {
    display: flex;
    background-color: #212121;
    padding: 1rem;;
    
}


.aboutme {
    display: flex;
    flex-direction: column;
}

.aboutme-title {
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
}

.aboutme-part {
    margin-bottom: 2rem;
}

.aboutme-part h2 {
    margin-bottom: 1rem;
}


.links {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.profilepic {
    margin-top: 2rem;
    width: 7rem;
    height: auto;
}
