@font-face {
    font-family: 'cascadia-mono';
    src: url(../fonts/CascadiaMono-Regular.otf)
}

* {
    color: white;
    font-family: 'cascadia-mono';
    size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
}

/* Header-menu bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.headertitle h1 {
    font-size: 2rem;
    color: white;
}

.headerbuttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.headerbuttons a {
    text-decoration: none;
    color: white;
}

.headerbuttons p {
    color: white;
}

.homebutton:hover {
    color: #76cdfa;
}

.profilebutton:hover {
    color: #c08c63;
}

.blogbutton:hover {
    color: #bbcda1;
}

.dashboardbutton:hover {
    color: #3479d1;
}

.faqbutton:hover {
    color: #b889b2;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3rem;
}

main section {
    display: flex;
    gap: 2rem;
}

main section article {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    padding: 1rem;
}

main section article h2 {
    margin-bottom: 1rem;
}

main section article ul li {
    list-style: none;
    padding-bottom: 0.5rem;
}

.hobbys {
    width: 20.45rem;
}

.links {
    width: 20.45rem;
}

.games, .music {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

main section article div {
    display: flex;
    flex-direction: row;
}

main section article div img {
    width: 9rem;
    height: auto;
}

/* footer */
footer {
    background-color: #212121;
    color: white
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;

}

.hz-extended-logo {
    width: 6rem;
    height: auto;
}

.footer-links h4 {
    margin-bottom: 0.5rem;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 0.1rem;
    list-style: none;
}

.footer-links ul li a {
    text-decoration: none;
    color:gainsboro;
}

.footerusefulllinks ul li a:hover {
    color: #49885d;
}

.maker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maker hr {
    width: 25rem;
    margin-bottom: 0.5rem;
}

.maker p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}