@font-face {
    font-family: 'cascadia-mono';
    src: url(../fonts/CascadiaMono-Regular.otf)
}

* {
    font-family: 'cascadia-mono';
    size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    color: white;
}

/* main */
main {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 3rem;
}

main section {
    padding: 1rem;
    background-color: #212121;
    width: 50rem;
}

main section h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}