@font-face {
    font-family: 'cascadia-mono';
    src: url(../fonts/CascadiaMono-Regular.otf)
}

* {
    color: white;
    font-family: 'cascadia-mono';
    size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
}

/*main*/
main {
    display: flex;
    justify-content: center;
    margin: 3rem 0;

}

table {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #212121;
}

table td, th {
    border: 1px solid white;
    padding: 4px;
}

/* footer */
footer {
    background-color: #212121;
    color: white
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;

}

.hz-extended-logo {
    width: 6rem;
    height: auto;
}

.footer-links h4 {
    margin-bottom: 0.5rem;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 0.1rem;
    list-style: none;
}

.footer-links ul li a {
    text-decoration: none;
    color:gainsboro;
}

.footerusefulllinks ul li a:hover {
    color: #49885d;
}

.maker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maker hr {
    width: 25rem;
    margin-bottom: 0.5rem;
}

.maker p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}